<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konglk.mappers.MsgDao">
    <insert id="insertMsg" parameterType="com.konglk.entity.MsgVO">
      insert into ims_msg(msg_id,send_id,dest_id,msg_type,content,has_read,ts, conversation_id)
      values(#{msgId},#{sendId},#{destId},#{msgType},#{content},#{hasRead},#{ts}, #{conversationId})
    </insert>

    <select id="selectHistoryMessageById" resultType="java.util.HashMap">
        select m.msg_id as msgId, m.send_id as sendId, m.dest_id as destId, m.msg_type as msgType, m.content,m.ts as createtime
        from ims_msg m
        where ((m.send_id=#{sendId} and m.dest_id=#{destId}) or (m.send_id = #{destId} and m.dest_id=#{sendId}))
        and  m.ts
        <if test="direct==1">&gt;</if>
        <if test="direct==2">&gt;=</if>
        <if test="direct==-1">&lt;</if>
        <if test="direct==-2">&lt;=</if>
        (select mm.ts from ims_msg mm where mm.msg_id=#{msgId})
        order by m.ts  <if test="direct==-1 or direct==-2">desc</if>
        limit #{pageSize}
    </select>

</mapper>