<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xylink.mappers.MsgDao">
    <insert id="insertMsg" parameterType="com.xylink.entity.MsgVO">
      insert into ims_msg(msg_id,send_id,dest_id,msg_type,content,has_read,ts)
      values(#{msgId},#{sendId},#{destId},#{msgType},#{content},#{hasRead},#{ts})
    </insert>

</mapper>