<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xylink.mappers.MsgDao">
    <insert id="insertMsg" parameterType="com.xylink.entity.MsgVO">
      insert into ims_msg(msg_id,send_id,dest_id,msg_type,content,has_read,ts)
      values(#{msgId},#{sendId},#{destId},#{msgType},#{content},#{hasRead},#{ts})
    </insert>

    <select id="selectHistoryMessageById" resultType="java.util.HashMap">
        select m.msg_id as msgId, m.send_id as sendId, m.dest_id as destId, m.content,m.ts as createtime
        from ims_msg m
        where (m.send_id=#{sendId} and m.dest_id=#{destId}) or (m.send_id = #{destId} and m.dest_id=#{sendId})
        order by m.ts asc
    </select>

</mapper>