<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konglk.mappers.UserDao">
    <insert id="insertUser" parameterType="com.konglk.entity.UserVO">
      insert into ims_user(user_id,username,nickname,pwd,sugar,img_url,cellphone,sex,country,city,createtime,status,updatetime)
      values(#{userId},#{username},#{nickname},#{pwd},#{sugar},#{imgUrl},#{cellphone},#{sex},#{country},#{city},#{createtime},#{status},#{updatetime})
    </insert>

    <select id="selectUserById" resultType="java.util.Map">
        select user_id as userId, img_url as imgUrl, city as city, nickname as nickname, username as username, sex as sex
        from ims_user where user_id=#{userId} and status = 1
    </select>

    <select id="selectUsersByPage" parameterType="com.konglk.common.Page" resultType="com.konglk.entity.UserVO">
        select user_id as userId, img_url as imgUrl, country, city, username, nickname, sex, status, cellphone, createtime
        from ims_user
        <!--<where>
            <if test="params.username != null and params.username != ''">
               and username like '%#{params.username}%'
            </if>
            <if test="params.nickname != null and params.nickname != ''">
               and nickname like '%#{params.nickname}%'
            </if>
            <if test="params.cellphone != null and params.cellphone != ''">
              and cellphone = #{params.cellphone}
            </if>
        </where>-->
        order by createtime desc
    </select>
</mapper>